body {
    background-color: #120c0e;
    font-main: 'Josefin Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    font-secondary: 'Nunito', Verdana, sans-serif;
    font-scale: 1.2em;
}
