html {
  max-width: 70ch;
  padding: 3em 1em;
  margin: auto;
  line-height: 1.75;
  font-size: 1em;
}
.blogtitle {font-size: 1.75em; font-weight: bold;}
a {color: black;}
a:hover {color: blue;}
a:visited {color: black;}
img {
  max-width: 100%;
  height: auto;
}
